@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/*Browser predefined values reset*/
body, p, h1, h2, h3, h4, h5, h6, ul, li, div, span, figure {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    font-size: 16px;
    color: #323232;
}

h1, h2, h3, h4, h5, h6, ul, li {
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3 {
    margin-bottom: .5em;
}

section {
    margin-top: 2em;
    margin-bottom: 3em;
}

p {
    margin-bottom: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 40px;
    font-size: 18px;
}

nav ul li:last-child {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:visited {
    color: #323232;
}

nav ul li a:hover {
    color: rgb(212, 123, 6);
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content .about-image {
    position: relative;
}

#cat {
    border: 15px dotted rgb(212, 123, 6);
    margin-left: 20px;
}

#meaow {
    position:absolute;
    bottom: 65px;
    right: 290px;
    visibility: hidden;
}

.about-content figcaption {
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: large;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.projects-content div {
    max-width: 33.33%;
}

.projects-content div img {
    max-width: 100%;
}

.projects-content h3 {
    color: rgb(212, 123, 6);
}

.projects-content div a {
    text-decoration: none;
}

.projects-content div a h3:hover {
    color: rgb(212, 123, 6, .75);
}

.projects-content img {
    transition: transform 1.5s ease;
}

.projects-content img:hover {
    transform: rotate(360deg);
}

#skills-container, #contact-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#skills-container > *, #contact-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: .25em;
}

#contact-container a {
    color: #323232
}

/*MOBILE*/
@media only screen and (max-width: 776px) {
    header, .about-content, .projects-content  {
        flex-direction: column;
    }

    nav ul li {
        margin-right: 15px;
        font-size: 16px;
    }

    nav ul li:last-child {
        margin-right: 0px;
    }

    #cat {
        border: 8px dotted rgb(212, 123, 6);
        margin-left: 0px;
        width: 100%;
    }

    #meaow {
        bottom: 65px;
        left: 15%;
        max-width: 40%;
    }
    
    .projects-content div {
        max-width: 100%;
    }

    .projects-content img {
        width: 100%;
    }
    
}
